@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: 'Quicksand';
  color: #333;
}

.header {
  padding: 20px;
  display: flex;
  margin: 0 auto;
}

.header h1 {
  color: #e0842e;
  align-items: left;
  padding-left: 40px;
  padding: auto;
}

.numbers {
  align-items: right;
  padding: 20px;
  size : 40px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.phone,
.toll-free {
  margin-bottom: 10px;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 2px solid #f2f2f2;
}

.navbar .links {
  align-items: center;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: #e0842e;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.Service {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.Service h1 {
  color: #e0842e;
  justify-content: left;
  flex: 1;
}

.time-of-day {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-right: 10px;
}

.time-of-day input {
  margin-right: 10px;
  margin-left: 10px;
}
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.label-consent {
  margin-top: 20px;
}

.footer {
  color: #888;
  border-top: 2px solid #eeeeee;
  margin: auto;
  padding: 16px;
  background-color: #e0842e;
  display: flex;
  flex-direction: column;
}

.topFooter {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bottomFooter {
  align-items: center;
  margin-top: 10px;
}

.social-icon {
  margin-right: 10px;
  font-size: 24px;
}

.reviews {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}

.reviews .stars {
  font-size: 24px;
}

.contactLists {
  margin-left: 40px;
  margin-right: 40px;
}