@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: 'Quicksand';
  color: #333;
}

.header {
  padding: 20px;
  display: flex;
  margin: 0 auto;
}

.header h1 {
  color: #e0842e;
  align-items: left;
  padding-left: 40px;
}

.numbers {
  margin: auto;
  align-items: right;
  padding-right: 40px;
  size : 40px;
  display: flex;
  flex-direction: column;
}

.phone,
.toll-free {
  margin-bottom: 10px;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar .links {
  align-items: center;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: #e0842e;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.Service {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.Service h1 {
  color: #e0842e;
  justify-content: left;
  flex: 1;
}
